#list_surround>table:first-of-type:before,
#list_surround>table:first-of-type a,
#list_surround>table:first-of-type a:after {
    font-family: 'Oswald', sans-serif;
    color: #e2de9a;
    font-size: 24px;
    text-align: center;
}

#list_surround>table:first-of-type:before {
    opacity: 1;
    position: absolute;
    display: block;
    content: 'Sheets';
    margin-top: 100px;
    right: 86px;
    width: 50px;
    font-size: 16px;
    background-image: linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    background-image: -moz-linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    background-image: -webkit-linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    box-shadow: 0 0 2px #000000 inset;
    border-style: solid;
    border-color: #ddc38b;
    border-width: 0 0 1px 0;
    transition: opacity .5s linear .3s;
    -webkit-transition: opacity .5s linear .3s;
}

#list_surround>table:first-of-type:hover:before {
    opacity: 0;
}

#list_surround>table:first-of-type {
    position: fixed !important;
    display: block;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat,
        linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%);
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat,
        -moz-linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%);
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat, -webkit-linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%);
    transition: margin-top .5s ease-out, z-index .5s linear .2s;
    -webkit-transition: margin-top .5s ease-out, z-index .5s linear .2s;
    z-index: 1;
}

#list_surround>table:first-of-type tr {
    position: absolute;
    display: block;
    left: calc(100% - 720px);
}

#list_surround>table:first-of-type:hover {
    margin-top: 0 !important;
    transition: margin-top .5s ease-out;
    -webkit-transition: all .5s ease-out;
    z-index: 5;
}

.status_selected,
.status_not_selected {
    position: relative !important;
    display: inline-block;
    width: 120px;
}

.status_selected a,
.status_not_selected a {
    margin-top: 40px;
    border-right: solid 1px #dbd352;
}

.status_selected a,
.status_not_selected a,
.status_selected a:after,
.status_not_selected a:after {
    display: inline-block;
    width: 120px;
}

.status_not_selected a[href*="status=1"],
.status_selected a[href*="status=1"],
.status_not_selected a[href*="status=6"],
.status_selected a[href*="status=6"] {
    font-size: 0 !important;
}

/* Currently watching */
.status_not_selected a[href*="status=1"]:after,
.status_selected a[href*="status=1"]:after {
    content: 'Watching';
}

/* Planned */
.status_not_selected a[href*="status=6"]:after,
.status_selected a[href*="status=6"]:after {
    content: 'Planned';
}

.status_not_selected a[href*="status=7"],
.status_selected a[href*="status=7"] {
    border: none;
}

.status_not_selected a:hover,
.status_not_selected a:hover:after {
    color: #dbd352 !important;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
}