/* Chrome */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #3f51d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #647dfa;
}

::-webkit-scrollbar-thumb:active {
  background: #647dfa;
}

::-webkit-scrollbar-track {
  background: #1D2076;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #1D2076;
}

::-webkit-scrollbar-track:active {
  background: #1D2076;
}

::-webkit-scrollbar-corner {
  background: #1D2076;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3f51d4 #1D2076;
}