/* SORT */
#list_surround>table:nth-of-type(n+4)~.header_cw+table,
#list_surround>table:nth-of-type(n+4)~.header_completed+table,
#list_surround>table:nth-of-type(n+4)~.header_onhold+table,
#list_surround>table:nth-of-type(n+4)~.header_dropped+table,
#list_surround>table:nth-of-type(n+4)~.header_ptw+table {
    display: none;
}

.table_header span {
    display: none;
}

/* Disable Tags in the Sort Options */
.table_header[width="125"] {
    display: none !important;
}

#list_surround table:nth-of-type(3):before,
.table_header a,
.table_headerLink strong {
    font-family: 'Oswald', sans-serif;
    color: #e2de9a;
    font-size: 24px;
    text-align: center;
    font-weight: normal !important;
}

#list_surround table:nth-of-type(3):before {
    opacity: 1;
    position: absolute;
    display: block;
    content: 'Sort';
    margin-top: 100px;
    right: 36px;
    width: 50px;
    font-size: 16px;
    background-image: linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    background-image: -moz-linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    background-image: -webkit-linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    box-shadow: 0 0 2px #000000 inset;
    border-style: solid;
    border-color: #ddc38b;
    border-width: 0 1px 1px 0;
    border-bottom-right-radius: 6px;
    transition: opacity .5s linear .3s;
    -webkit-transition: opacity .5s linear .3s;
}

#list_surround table:nth-of-type(3) {
    position: fixed !important;
    display: block;
    margin-top: -100px;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat,
        linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%);
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat,
        -moz-linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%);
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat, -webkit-linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%);
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    z-index: 1;
}

#list_surround table:nth-of-type(3) tr {
    position: absolute;
    display: block;
    left: calc(100% - 360px);
}

#list_surround table:nth-of-type(3):hover:before {
    opacity: 0;
}

#list_surround table:nth-of-type(3):hover {
    margin-top: 0 !important;
    z-index: 5;
}

.table_headerLink {
    display: inline-block;
    margin-top: 40px;
    width: 120px;
    border-right: solid 1px #dbd352;
}

.table_headerLink:lst-child {
    border: none;
}

.table_header a:hover,
.table_headerLink strong:hover {
    color: #dbd352 !important;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
}