#mal_cs_powered #search #searchBox {
    position: relative;
    text-align: left !important;
    background-color: transparent;
    box-shadow: none !important;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
    font-family: 'Oswald', sans-serif;
    color: #e2de9a !important;
    font-size: 24px !important;
}

#mal_cs_powered #search #searchBox:hover {
    color: #dbd352 !important;
}

#searchBox {
    border: none !important;
}

#searchListButton {
    position: absolute;
    display: block !important;
    margin-left: 128px !important;
    padding: 0 2px 3px 2px !important;
    background-color: rgb(48, 48, 48) !important;
}

#mal_control_strip img {
    display: none !important;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
    outline: none !important;
    box-shadow: #2b61ff 0px 0px 14px 5px !important;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
}

#mal\_control_strip:before,
#mal\_control_strip a:after {
    font-family: 'Oswald', sans-serif;
    color: #e2de9a !important;
    font-size: 24px !important;
    text-align: center;
}

#mal\_control_strip:before {
    opacity: 1;
    position: absolute;
    display: block;
    content: 'Menu';
    margin-top: 100px;
    right: 135px;
    width: 50px;
    font-size: 16px !important;
    background-image: linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    background-image: -moz-linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    background-image: -webkit-linear-gradient(top, rgb(38, 70, 185) 40%, rgb(13, 23, 76) 60%);
    box-shadow: 0 0 2px #000000 inset;
    border-style: solid;
    border-color: #ddc38b;
    border-width: 0 0 1px 1px;
    border-bottom-left-radius: 6px;
    transition: opacity .5s linear .3s;
    -webkit-transition: opacity .5s linear .3s;
}

#mal\_control_strip:hover:before {
    opacity: 0;
}

#mal\_control_strip {
    position: fixed !important;
    display: block !important;
    margin-top: -100px !important;
    height: 100px !important;
    left: 0;
    top: 0;
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat,
        linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%) !important;
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat,
        -moz-linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%) !important;
    background: url(https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/topmenu_header.png) left center no-repeat, -webkit-linear-gradient(bottom, rgb(209, 186, 137) 1%, rgb(31, 57, 154) 3%, rgb(29, 32, 118) 100%) !important;
    transition: margin-top .5s ease-out, z-index .5s linear .2s;
    -webkit-transition: margin-top .5s ease-out, z-index .5s linear .2s;
    z-index: 1;
}

#mal\_control_strip a {
    text-decoration: none !important;
}

#mal\_control_strip td {
    display: flex;
}

#mal_control_strip td div {
    display: flex;
}

#mal\_control_strip:hover {
    margin-top: 0 !important;
    transition: margin-top .5s ease-out;
    -webkit-transition: all .5s ease-out;
    z-index: 5;
}

#mal\_control_strip a:hover:after {
    color: #dbd352 !important;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
}

#mal\_control_strip>tbody:nth-child(1) {
    float: right;
}

#mal\_control_strip>tbody:nth-child(1)>tr:nth-child(1) {
    display: flex;
    margin-top: 40px;
}

#mal\_control_strip img,
#mal\_cs_powered img,
#mal\_cs_pic,
#mal\_cs_otherlinks strong {
    display: none;
}

#mal_cs_pic,
#mal_cs_listinfo,
#mal_cs_links {
    border-right: none !important;
}

#mal_cs_links {
    width: auto !important;
}

#mal_cs_otherlinks div a[href*="history"],
#mal_cs_otherlinks div a[href*="list/"],
#mal_cs_otherlinks div a[href$="/forum/"],
#mal_cs_otherlinks div a[href*="export"],
#mal\_cs_links div a[href$="/"],
#mal\_cs_otherlinks div a[href*="shared"],
#mal\_cs_otherlinks div span[title*="Compatibility Score"] {
    display: none !important;
}

#mal\_cs_otherlinks div a,
#mal\_cs_listinfo div:last-of-type a,
#mal\_cs_listinfo div:first-of-type a,
#mal_cs_links div a[href*="addtolist"],
#mal\_cs_links div:last-of-type a:first-of-type,
#mal\_cs_links div:last-of-type a:last-of-type {
    font-size: 0 !important;
    color: transparent;
}

#mal\_cs_otherlinks div a:after,
#mal\_cs_listinfo div:last-of-type a:after,
#mal\_cs_listinfo div:first-of-type a:after,
#mal_cs_links div a[href*="addtolist"]:after,
#mal\_cs_links div:last-of-type a:first-of-type:after,
#mal\_cs_links div:last-of-type a:last-of-type:after {
    border-right: solid 1px #dbd352;
    padding-right: 20px;
}

#mal_cs_listinfo {
    width: auto !important;
    padding: 0 !important;
}

/* USERNAME */
#mal\_cs_listinfo div:first-of-type a:after {
    content: 'Profile';
}

/* ADD */
#mal\_cs_links div a[href*="addtolist"]:after {
    content: 'Add';
    padding-left: 10px;
}

/* MANGALIST */
#mal\_cs_links div:last-of-type a:last-of-type {
    padding-left: 20px;
}

#mal\_cs_links div:last-of-type a:last-of-type:after {
    content: 'Manga';
}

/* ANIMELIST */
#mal\_cs_links div:last-of-type a:first-of-type {
    padding-left: 20px;
}

#mal\_cs_links div:last-of-type a:first-of-type:after {
    content: 'Anime';
}

#mal_cs_links div:last-of-type a:first-of-type {
    display: initial !important;
}

/* LOGOUT */
#mal\_cs_listinfo div:last-of-type a:after {
    content: 'Logout';
    padding-left: 20px;
}

/* SEARCH */
#mal_cs_powered {
    position: initial !important;
    top: 0 !important;
    right: 0 !important;
}

#mal_cs_powered #search {
    padding-top: 0 !important;
    width: 140px;
}

#mal_cs_powered #search #searchBox {
    width: 100%;
    padding-left: 10px;
}

/* LOGIN */
#mal\_cs_otherlinks div a[href*="login"]:after {
    content: 'Login';
}