@\import "https://glcdn.githack.com/Seishiin/mal-theme/raw/master/css/fonts.css";
@\import "https://glcdn.githack.com/Seishiin/mal-theme/raw/master/css/topMenu.css";
@\import "https://glcdn.githack.com/Seishiin/mal-theme/raw/master/css/tabContent.css";
@\import "https://glcdn.githack.com/Seishiin/mal-theme/raw/master/css/categoryMenu.css";
@\import "https://glcdn.githack.com/Seishiin/mal-theme/raw/master/css/scrollbar.css";
@\import "https://covers.pages.dev/css/anime_more.jpg.css";

#mal_cs_links div:last-of-type a:first-of-type {
    display: none;
}

body {
    background-attachment: fixed;
    background-image: url("https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ddc38b;
    font-family: "Crimson Text", serif;
    font-size: 14px;
}

a {
    color: #ddc38b;
    text-decoration: none;
}

#list_surround {
    background: rgba(0, 0, 0, 0) url("https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/render.png") no-repeat scroll center 0 !important;
    margin: 20px auto 5px;
    padding: 310px 0 2px;
    width: 690px;
}

#list_surround br {
    display: none;
}

.td1,
.td2 {
    background-color: rgba(0, 0, 0, 0.3);
}

.borderRBL,
.borderRBL a {
    text-align: center !important;
}

.borderRBL {
    border-top: 1px solid #ddc38b !important;
    color: #ffffff !important;
}

.borderRBL small {
    visibility: visible !important;
}

tr:hover td[class^="td"]:not(.borderRBL) {
    text-shadow: 0 0 10px #ff0;
    transition: all 0.5s ease 0s !important;
}

td[class^="td"]:first-child,
td[class^="td"]:last-child {
    width: 50px !important;
}

td[class^="td"]:first-child {
    border-left: 4px double #ddc38b !important;
    padding-left: 5px;
    text-align: left;
}

td[class^="td"]:last-child {
    border-right: 4px double #ddc38b !important;
    padding-right: 5px;
    text-align: right;
}

.animetitle+small {
    color: #e6ca8b;
    font-size: 13px;
    margin-left: 5px;
    text-transform: lowercase;
    visibility: visible;
}

.animetitle+small::before {
    content: "|    ";
}

#list_surround small {
    visibility: hidden;
}

#list_surround tr:hover small,
#list_surround tr:hover small a {
    visibility: visible;
}

.header_title {
    display: inline-block;
    height: 100px;
    pointer-events: none;
}

.header_cw span,
.header_completed span,
.header_onhold span,
.header_dropped span,
.header_ptw span {
    background-image: url("https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/header.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 78px;
    margin-left: -20px;
    margin-top: 22px;
    position: absolute;
    width: 730px;
    z-index: -1;
}

.header_cw span {
    background-position: center 0;
}

.header_completed span {
    background-position: center -78px;
}

.header_onhold span {
    background-position: center -156px;
}

.header_dropped span {
    background-position: center -234px;
}

.header_ptw span {
    background-position: center -312px;
}

.category_totals::before {
    background: rgba(0, 0, 0, 0) url("https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/category.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 78px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
    width: 730px;
    z-index: -1;
}

.category_totals {
    color: #ddc38b;
    padding: 20px 0;
    text-align: center;
    text-transform: lowercase !important;
}

#grand_totals {
    display: none;
}

.borderRBL {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #ffffff !important;
    line-height: 1;
}

#inlineContent {
    display: inline !important;
    left: 0;
    position: fixed;
    top: 0;
    z-index: -1;
}

@keyframes sparkle {
    0% {
        background-position: 0 0px, 0 0;
    }

    100% {
        background-position: -150px -300px, 150px -300px;
    }
}

#inlineContent::before {
    animation: 15s linear 0s normal none infinite running sparkle;
    background-image: url("https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/sparkles.png"), url("https://glcdn.githack.com/Seishiin/mal-theme/raw/master/img/sparkles2.png");
    border-radius: 50em;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -40%;
    position: fixed;
    width: 80%;
}

.status_selected {
    width: 100px;
}

/* Cover preview */
.hide {
    background-size: cover;
    position: relative;
    left: -37%;
    top: -188px;
    height: 350px;
    width: 226px;
    padding-bottom: 0px;
    margin-bottom: -358px;
    border: 4px solid #ddc38b;
    border-radius: 0;
    background-color: transparent;
    background-position: center 50% !important;
    background-repeat: no-repeat !important;
    display: none !important;
}

.hide:after {
    content: '';
    position: absolute;
    left: 101.7%;
    top: 47%;
    width: 0;
    height: 0;
    border-left: 10px solid #ddc38b;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    clear: both;
}

:hover+.hide {
    display: block !important
}

/* Remove "More" button */
#list_surround small a:last-of-type {
    display: none !important;
}

/* Remove hyphen after "Edit" */
#list_surround>table>tbody>tr>td:nth-child(2)>div>small {
    color: transparent;
}

div[id^='tagChangeRow']>a>small {
    color: #ddc38b !important;
}

/* Remove info box */
.initialize-tutorial {
    display: none !important;
}

/* Remove reCAPTCHA info */
#recaptcha-terms {
    display: none !important;
}